{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> </title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="script" href="{% static 'slugify.js' %}">
    </head>
    <body>
        <header>
            <h1>
                    <a href="{% url 'articles:list' %}">ARTICLES</a>
            </h1>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Logout</button >
                            </form>
                        </li>
                        <li><a href="{% url 'articles:create' %}" class="highlight">New Article</a></li>
                    {% else %}
                        <li> <a href="{% url 'accounts:login' %}">LOGIN!</a></li>
                        <li> <a href="{% url 'accounts:signup' %}">SIGNUP!</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
       <div class="wrapper">
            {% block content %}
            {% endblock %}
       </div>
    </body>
</html>